.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-project-img {
}
.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-project-service {
  color: #434455;
}
